
$columns: 12;
$breakpoints: 4;
$navbar-padding: .5rem 1rem;

@mixin transition{
  transition: all .4s ease-in-out;
}

@mixin centerX{
  left: 0;
  right: 0;
  margin: auto;
}

@mixin centerY{
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin center{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

$menu-btn-sizes: (
  s: 25px,
  m: 35px,
  l: 45px,
  xl: 55px,
);

.align-center {
  align-items: center;
}

$carousel-caption-width:             70% !default;


// --------------colors-------------- 
$light-blue: #fdf8ff;
$blue: #1aa3ff;
$light-orange: #ffe0cc;
$black: #000000;
$white: #ffffff;
$dark-gray: #292929;
$gray: #666666;
$light-gray: rgb(192, 192, 192);


// --------------margins--------------
$margins: (
  right: r,
  left: l,
  top: t,
  bottom: b
);


// --------------breakpoints-------------- 
$grid-cols: 12;
$grid-max-width: 1200px;
$breakpoint-xsmall: "(min-width: 0px)";
$breakpoint-small: "(min-width: 576px)";
$breakpoint-medium: "(min-width: 768px)";
$breakpoint-large: "(min-width: 992px)";
$breakpoint-xlarge: "(min-width: 1200px)";

$grid-breakpoints: (
  xs: 0px,
  s: 576px,
  m: 768px,
  l: 992px,
  xl: 1200px
);

// --------------wrappers-------------- 
$wrapper-percent: (
  100: 100%,
  90: 90%,
  80: 80%,
  70: 70%,
  60: 60%,
  50: 50%,
  40: 40%
);

// --------------fonts--------------
$roboto: 'Roboto', sans-serif;