@import './variables';
@import './colors';
@import './reset';
@import './fonts';
@import './grid';
@import './spacing';
@import './navbar';
@import './containers';
@import './cards';
@import './footer';
@import './buttons';

.img-fluid {
    max-width: 100%;
    height: auto;
}

.padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.hr-1 {
    width: 60%;
    background-color: $gray;
}











